#
# codeowners reference:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# for ease of comparison, usernames are kept alphabetized
#

# default rule
* @aaschaer @ada-globus @derek-globus @kurtmckee @sirosen

# Flows service
/src/globus_sdk/services/flows/ @ada-globus @derek-globus @kurtmckee @sirosen
/src/globus_sdk/_testing/data/flows/ @ada-globus @derek-globus @kurtmckee @sirosen
/tests/functional/services/flows/ @ada-globus @derek-globus @kurtmckee @sirosen

# Timer service
/src/globus_sdk/services/timer/ @ada-globus @derek-globus @kurtmckee @sirosen
/src/globus_sdk/_testing/data/timer/ @ada-globus @derek-globus @kurtmckee @sirosen
/tests/functional/services/timer/ @ada-globus @derek-globus @kurtmckee @sirosen
